<div class="index-dep">
	<% @departamentos.each do |departamento| %>
	<div class="elemento">
	<%= image_tag departamento.imagen.url(:grande) %>
		<div class="vinculo">
		<div class="cristal-negro">
			<%= link_to departamento.nombre,departamento %>
		</div>	
		</div>

		
	</div>
	<% end %>
</div>



