<p id="notice"><%= notice %></p>
<div class="index-dep">
	<% @departamentos.each do |departamento| %>
	<div class="elemento">
	<img src="img/musica.jpg" alt="imagen">
		<div class="vinculo">
		
			<%= link_to departamento.nombre,departamento %>
		</div>	

		
	</div>
	<% end %>
</div>



