body{
	margin:0px 0px 0px 0px;
	font-family: 'Roboto Condensed', sans-serif;

}
h1,h2,h3,h4,h5{
	font-weight: 400;
}
p{
	font-weight: 300;
}
/*navegacion*/
.logo{
	font-weight: bold;
	color:#00C3B6;

}
a{
	text-decoration: none;
}

nav{
	width: 100%;
	font-weight: 300;
	box-shadow: 0px 6px 16px gray;
}
ul{
	padding-left: 0px;
	margin: 0px;
}

li{
	list-style: none;
	text-align: center;
	line-height: 5;
	border-bottom:4px solid  rgba(0,0,0,0);
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
li:hover{
	border-bottom:4px solid #113A52;
}
@media(min-width: 641px){
	ul{
		display: flex;
	}
	li{
		flex:auto;
	}
	.last , .boton{
		display: none;
	}

}

nav a{
	color: #404040;
	text-decoration: none;
}
nav a:hover{
	color:#00C3B6;
}
@media(max-width:641px ){
	.boton{
		text-align: left;
		padding-left: 10px;
		background: rgba(17,58,82, 0.8);
		width: 100%;
		position: fixed;
		top: 0px;
		color: #FFFDF5;
		z-index: 11;
		line-height: 3; 
		border-bottom: solid #113A52 2px;
	}
	.last{
		border-top: 1px rgba(255,255,255,0.8) solid;
		background: rgba(0,0,0,0.6);
		height: 800px;
	}
	li{
		display: block;
		text-align: right;
		padding-right: 20px;
		border-bottom: 1px solid #404040;

		
	}
	ul{
		width: 100%;
		position: fixed;
		left: -100%;
		z-index: 10;
		margin-top: 1.5em;
		background: rgba(17,58,82, 0.8);
	}
	ul a{
		color: #FFFDF5
	}
	.content-principal{
		margin-top: 25px;
		position: relative;
	}

}
/*
azul #113A52
celest1 #00C3B6
blanco
gris #EEEEEE
negro #404040


*/


/*navegacion*/
/*caja principal*/

.content-principal{
	
	width: 90%;
	margin-left: 5%;
	padding-top: 2%;
	padding-bottom: 2%;

}
/*Formularios*/

.field-c {
	display: block;
}
.field-c p, .field-c input{
	display: inline-block;
	margin-left: 5px;
}
.field-c img{
	border-radius:5%;
}
.actions input{
		box-shadow: 0px 3px 4px gray;
	margin-top: 10px;
	height: 40px;
	vertical-align: middle;
	width: 200px;
	padding: 10px;
	background: #113A52;
	color: white;
	border: none;


}
@media (max-width: 641px){
	.formulario{
		width: 90%;
		margin-left: 5%;
	}
}

/**/
/*Departamentos*/
.index-dep{
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.elemento{
	width: 20%;
	height: 200px;
	margin-left: 10px;
	flex: auto;
	border: solid 1px;
	margin-right: 10px;
	margin-top: 10px;
	position: relative;
}
.elemento img{
	width: 100%;
	height: 100%;
}
.elemento .vinculo{
	width: 100%;
	height: auto;
	margin-top: -4px;
	text-align: center;
	background: none;
	position: absolute;
	bottom: 0px;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.elemento a{
	text-decoration: none;
	color: black; 
	line-height: 2.2;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
.elemento:hover .vinculo{
	background: rgba(0,0,0,0.5);

}
.elemento:hover a{
	padding-top: 10px;
	color: #EEEEEE;
}
/*--------------------------*/

@media(max-width:720px ){
	.elemento{
		width: 35%;
	}
}
@media(max-width:320px ){
	.elemento{
		width: 100%;
	}
}

.dashboard{
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	-moz-justify-content:space-between;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}
.dashboard-e{
	width: 45%;
	height: auto;
	margin-left: 10px;
	flex: auto;
	border: solid 1px;
	margin-right: 10px;
	margin-top: 10px;
	position: relative;
}
.elemento-d-dep , .elemento-d-user{
	width: 90%;	
	margin-left: 5%;
}
.center{
	text-align: center;
}
.cristal-negro{
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
}
.contenido{
	padding: 2%;
	color: #EEEEEE;
}

/*DEsplegar departamento*/
.show-dep{
	width: 100%;
}
.show-dep{
	background-size:  100% 100%;
}
.borde-minimo{
	border-radius: 2%;
}


/*Vistas devise usuarios*/
.shared-link{
	box-shadow: 0px 3px 4px gray;
	color: white;	
	margin-top: 10px;
	background: #00C3B6;
	padding: 10px;
	text-align: center;
	display: block;
}
.formularios, .cuenta{
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	border-radius: 5px;
	padding: 1%;
	text-align: center;
}
.formularios{
	width: 58%;
	margin-left: 20%;
}
.formularios .field{
	padding: 15px;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
}
label[for="usuario_remember_me"],label[for="usuario_sexo"]{
	display: inline-block;
}
label{
	display: block;
}
input,textarea{
	margin-left: auto !important;
	margin-right: auto !important;
}


.cuenta{
	width: 78%;
	margin-left: 5%;
	background: #EAEAEA;
	text-align: left;
	position: absolute;
}
.contenedor{
	margin-top: 25px;
	display: flex;
	flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	-moz-justify-content:space-between;
	-webkit-justify-content:space-between;
	justify-content:space-between;

}
.img-perfil{
	max-width: 45%;
	display: inline-block;
	flex: auto;
}
.img-perfil img{
	width: 100%;
	height: 100%;
}
.objetos{
	margin-left: 1%;
	width: 45%;
	flex: auto;
	display: flex;
	flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	-moz-justify-content:space-between;
	-webkit-justify-content:space-between;
	justify-content:space-between;


}
.campo label, .campo input, .campo select{
	position: relative;
}
.campo label{
	top: 0;
	display: block;
}
.campo input, .campo select{
	width: 70%;
	padding-left: 0px;
	left:7%;
	top:10%;
	font-weight: 300;
	text-decoration: left;
}
.campo{
	width: 98%;
	flex:auto;
	padding-top: 1%;
	border-bottom: dotted 1px silver;
	padding-left: 2%;
	background: #FAFAFA;
}
.shadow-box{
	box-shadow: 0px 3px 4px gray;
}
.cancelar{
	width:100%;
	text-align: center;
}
.btn-red{
	background: tomato;
	padding: 10px;
	border: none;
	border-radius:5px;
	color: white;
}
.input{
	border: none;
	background: none;
	border-bottom: 2px solid #0097a7;
	text-align: center;
	width: 50%;
	margin-top: 10px;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.input:focus{
	width: 85%;
}
input{
	border: solid 1px silver;
	padding: 5px;
	border-radius: 3px;
}
label{
	font-size: 14px;
}